
div
{
  border-radius: 10px;
  }
#header
{
  position: fixed;
  
  height:40px;
  width: 99%;
  background-color: #9cd2f7;
 
  }

#name {
  float:left;
  /* text-decoration: underline; */
  margin-left: 20px;
  
  font-size: 25px;
  
  color: #0e0000;
}

#email{
  float:right;
  margin-right: 20px;
  
  font-size: 20px;
  font-family: Verdana, sans-serif;
  color: #080000;
}

#contact
{
  margin-left:45%;
 
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #ffffff;
  }



.right
{
  float: left;
  margin-top: 50px;
  
  
  height: auto;
  width: 99%;
  background-color: #d8eced;
  }



h3
{
  text-decoration: underline;
  }

#job-responsibilities
{
  padding: 1px;
  }
.job-title
{
  font-weight: bold;
  }
table
{
  border: 1px dashed black;
  }
td
{
  padding: 2px;
  border: 1px solid #E88741;
  }

#course-name
{
  font-weight:bold;
  }

#company-name
{
  height:2px;
  text-decoration:underline;
  }
#job-title
{
  height: 5px;
  }
.job-duration
{
  float:right;
  }
#heading
{
  font-weight:bold;
  }
  #companyname{
    text-decoration: underline;

  }